:root {
  font-family: helvetica;
  font-size: 12pt;
  /*https://www.htmlcsscolor.com/hex/3D4849*/
  --darkestgrey: #3D4849;
  --lightestgrey: #E5E7E7;
  --pageheight: 1000px;
  --menuheight: 40px;
}

body {
  margin: 0;
}

header {
  display: block;
  width: 100%;
  height: 120px;
  background-color: var(--darkestgrey);
}

nav {
  display: block;
}

.asideone {
  display: block;
  width: 16.66%;
  height: var(--pageheight);
  margin: 1px;
  background-color: var(--lightestgrey);
}

section {
  display: block;
  box-sizing: border-box;
  width: 66%;
  height: var(--pageheight);
  margin: 1px;
}

.asidetwo {
  display: block;
  width: 16.66%;
  height: var(--pageheight);
  margin: 1px;
  background-color: var(--lightestgrey);
}

.asideone, section, .asidetwo {
  float: left;
}

.content::after {
  content: "";
  clear: both;
  display: block;
}

footer {
  display: block;
  width: 100%;
  height: 60px;
  background-color: var(--darkestgrey);
}

a {
  color: var(--darkestgrey);
  text-decoration: none;
}

a:visited {
  color: black;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.menu li {
  float: left;
  width: 33.3%;
}

ul.menu:after {
  display: block;
  content: "";
  clear: both;
}

ul.menu li a {
  display: block;
  height: var(--menuheight);
  background-color: var(--lightestgrey);
  text-align: center;
  line-height: var(--menuheight);
  border: 1px solid white;
}

ul.menu li a:hover {
  color: white;
  background-color: var(--darkestgrey);
}

div.dropdown {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted var(--darkestgrey);
}

div.dropdown .dropdowncontent {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: var(--lightestgrey);
  padding: 5px;
  width: 80px;
  text-align: center;
}

div.dropdown:hover .dropdowncontent {
  display: block;
}
