:root {
  --menuheight: 40px;
}

body {
  font-family: helvetica;
  font-size: 12pt;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: grey;
}

ul.menu {
  list-style-type: none;
  margin: none;
  padding: none;
  width: 100%;
}

ul.menu li {
  float: left;
  width: 33.3%;
}

ul.menu li a {
  display: block;
  height: var(--menuheight);
  background-color: lightgrey;
  text-align: center;
  line-height: var(--menuheight);
  border: 1px solid white;
}

ul.menu li a:hover {
  color: lightgrey;
  background-color: black;
}
