
body {
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: arial;
  color: rgba(50, 50, 50, 1);
}

div#format {
  display: grid;
  grid-template-columns: 100%;  
}

div#background {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  z-index: -1;
}

section {
  width: 100%;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  line-height: 2;
}

header {
  z-index: 2;
  padding: 50px;
  margin-bottom: 50px;
  background-color: rgba(50, 50, 50, 0.15);
  text-align: center;
  font-weight: bold;
}

header span#story {
  font-size: 200%;
}

p {
  text-indent: 30px;
  padding: 0 40px;
}

#background img {
  object-fit: cover;
  filter: opacity(40%);
}

/*Tooltips*/

span.hover {
  display: inline-block;
  position: relative;
  border-bottom: 1px dashed rgba(50, 50, 50, 0.2);
  text-indent: 0;
}

span.translate {
  /*Display and position*/
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: 120%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  z-index: 1;
  /*Transition*/
  visibility: hidden;
  transition: opacity;
  transition-duration: 0.3s;
  opacity: 0;
  /*Appearance*/
  border-radius: 2px;
  padding: 10px;
  background-color: rgba(150, 150, 150, 0.9);
  color: white;
  font-weight: normal;
  text-align: center;
}

span.translate::after {
  /*Build*/
  content: "";
  border-style: solid;
  border-color: transparent transparent rgba(150, 150, 150, 0.9) transparent;
  border-width: 5px;
  /*Position*/
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
}

span.hover:hover {
  color: rgba(50, 100, 50, 1);
  border-color: rgba(50, 100, 50, 1);
}

span.hover:hover span.translate {
  visibility: visible;
  opacity: 1;
}
